<template>
<div class="dashboard__wrapper" v-if="!userLoading && Object.keys(profile).length > 0">
  <div class="dashboard-card__content">
    <div class="dashboard-card__context">
      <div class="dashboard-card__title">
        All-in-one finance for growing businesses
      </div>
      <div class="dashboard-card__description">
        Save time and money with borderless payments, corporate cards, expense management, and more. All in one account.
      </div>
      <div class="dashboard-card__btn-wrapper">
        <router-link class="dashboard-card__btn" tag="span" to="/loan" v-if="profile.role !== 1">Get your loan now!</router-link>
      </div>
    </div>
    <div class="dashboard-card__logo">
      <img :src="aspireLogo" alt="aspire logo">
    </div>
  </div>
</div>
</template>

<script>
import usersModule from "@/store/users";
import AspireLogo from '@/assets/images/icons/aspire-logo.png'

export default {
  name: "Dashboard",
  created() {
    if (!this.$store.hasModule('usersModule')) {
      this.$store.registerModule('usersModule', usersModule);
    }
  },
  computed: {
    userLoading() {
      return this.$store.state.usersModule.loading;
    },
    profile() {
      return this.$store.state.usersModule.user;
    },
  },
  data() {
    return{
      aspireLogo: AspireLogo
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard{
  &__wrapper{
    height: 80vh;
  }
  &-card{
    &__wrapper{
    }
    &__content{
      display: flex;
      height: 100%;
      align-items: center;
    }
    &__context{
      width: 40%;
      color: #0c365a;
    }
    &__logo{
      width: 50%;
      text-align: center;
    }
    &__title{
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 20px;
    }
    &__description{
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    &__btn{
      padding: 10px 25px;
      border: 1px solid #0c365a;
      border-radius: 12px;
      display: inline-block;
      color: white;
      background: #0c365a;
      &:hover{
        cursor: pointer;
        background: white;
        color: #0c365a;
      }
    }
  }
}
</style>