<template>
<div class="login__wrapper">
  <h1 class="login__title">{{showRegister ? 'Register' : 'Login'}}</h1>
  <div class="login__errors" v-if="errors.length">
    <p v-for="error in errors" :key="error">{{ error }}</p>
  </div>
  <div class="form">
    <form class="register-form" v-if="showRegister">
      <input type="text" placeholder="Email" v-model="formValue.email"/>
      <input type="password" placeholder="Password" v-model="formValue.password"/>
      <button type="button" @click="submit">Register</button>
      <p class="message">Already registered? <a href="javascript:void(0)" @click="toggle">Sign In</a></p>
    </form>
    <form class="login-form" v-else>
      <input type="text" placeholder="Email" v-model="formValue.email"/>
      <input type="password" placeholder="Password" v-model="formValue.password"/>
      <button type="button" @click="submit">login</button>
      <p class="message">Not registered? <a href="javascript:void(0)" @click="toggle">Create an account</a></p>
    </form>
  </div>
</div>
</template>

<script>
import usersModule from "@/store/users";
import { usersActionsDef } from "@/store/users/usersActions";

export default {
  name: "Login",
  data(){
    return{
      showRegister: false,
      loading: false,
      formValue: {
        email: "",
        password: ""
      },
      errors: [],
    }
  },
  created() {
    if (!this.$store.hasModule('usersModule')) {
      this.$store.registerModule('usersModule', usersModule);
    }
  },
  methods: {
    validateForm(){
      this.errors = [];
      if (!this.formValue.email) {
        this.errors.push('Email required.');
      } else if (!this.validEmail(this.formValue.email)) {
        this.errors.push('Valid email required.');
      }
      if (!this.formValue.password) {
        this.errors.push("Password required.");
      }
    },
    validEmail(email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    toggle(){
      this.formValue = {};
      this.errors = [];
      this.showRegister = !this.showRegister;
    },
    submit() {
      this.validateForm();
      if(this.errors.length === 0) {
        if(this.showRegister){
          this.loading = true;
          this.$store.dispatch(`usersModule/${usersActionsDef.STORE}`, this.formValue)
              .then(response => {
                if (response) {
                  this.loading = false;
                  this.$router.push('/');
                } else {
                  this.loading = false;
                  this.makeToast('danger', 'Failed', 'Something wrong, please try again later');
                }
              })
              .catch(() => {
                this.loading = false;
                this.makeToast('danger', 'Failed', 'Something wrong, please try again later');
              })
        } else {
          this.loading = true;
          this.$store.dispatch(`usersModule/${usersActionsDef.AUTHENTICATE}`, this.formValue)
              .then(response => {
                if (response) {
                  this.loading = false;
                  this.$store.dispatch(`usersModule/${usersActionsDef.FETCH}`);
                  this.$router.push('/');
                } else {
                  this.loading = false;
                  this.makeToast('danger', 'Failed', 'Wrong credentials');
                }
              })
              .catch(() => {
                this.loading = false;
                this.makeToast('danger', 'Failed', 'Something wrong, please try again later');
              })
        }
      }
    },
    makeToast(variant = null, title, content) {
      this.$bvToast.toast(content, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        toaster: 'b-toaster-top-center',
        solid: true
      })
    },
  }
}
</script>

<style lang="scss" scoped>
.login{
  &__title{
    color: #4CAF50;
    margin-bottom: 30px;
  }
  &__wrapper{
    text-align: center;
    height: calc(100vh - 44px);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  &__errors{
    color: red;
  }
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  //display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>