<template>
<div class="loans-list__wrapper">
  <h1 class="loans-list__title">Loans Management</h1>
  <div class="loans-list__table" v-if="listLoans.length > 0">
    <b-table striped hover :fields="tableFields" :items="listLoans">
      <template #cell(user_id)="data">
        <span>{{ getUser(data.value) }}</span>
      </template>
      <template #cell(amount)="data">
        <span>{{data.value | parsePrice}} VNĐ</span>
      </template>
      <template #cell(paid)="data">
        <span>{{data.value | parsePrice}} VNĐ</span>
      </template>
      <template #cell(terms)="data">
        <span>{{data.value | yearSuffix}}</span>
      </template>
      <template #cell(status)="data">
        <b-badge variant="primary" v-if="data.value === 2">Approved</b-badge>
        <b-badge variant="success" v-else-if="data.value === 3">Finished</b-badge>
        <b-badge class="loans-list__status" variant="info" v-else @click="changeStatus(data.item)">Pending/Denied</b-badge>
      </template>
      <template #cell(created_at)="data">
        <span>{{data.value | parseDate}}</span>
      </template>
    </b-table>
  </div>
  <div class="loan-list__blank" v-else>
    There haven't any loan yet
  </div>
</div>
</template>

<script>
import loansModule from "@/store/loans";
import usersModule from "@/store/users";
import {loansActionDef} from "@/store/loans/loansActions";
import { usersActionsDef } from "@/store/users/usersActions";
import { formatPrice, yearSuffix, formatDate } from "@/utils/filters";

export default {
  name: "LoansList",
  created() {
    if (!this.$store.hasModule('loansModule')) {
      this.$store.registerModule('loansModule', loansModule);
    }
    if (!this.$store.hasModule('usersModule')) {
      this.$store.registerModule('usersModule', usersModule);
    }
    this.fetch();
  },
  data() {
    return {
      tableFields: [
        {
          key: 'user_id',
          label: 'User'
        },
        'name',
        {
          key: 'dob',
          label: 'Date of birth'
        },
        'amount',
        'paid',
        'terms',
        {
          key: 'status',
          label: 'Status'
        },
        {
          key: 'created_at',
          label: 'Created Date'
        }
      ]
    }
  },
  computed: {
    listLoans() {
      return this.$store.getters['loansModule/getListLoans'];
    },
    userList(){
      return this.$store.getters['usersModule/getListUsers'];
    }
  },
  methods: {
    fetch() {
      this.$store.dispatch(`loansModule/${loansActionDef.GET_LIST_LOANS}`);
      this.$store.dispatch(`usersModule/${usersActionsDef.GET_LIST}`);
    },
    getUser(value){
      if (this.userList.length > 0) {
        let matchUser = this.userList.filter((user) => user.id === value);
        return matchUser[0].email;
      }
      return value
    },
    changeStatus(value) {
      this.$bvModal.msgBoxConfirm('Do you want to change this loan to approved status ?', {
        title: 'Please Confirm',
        size: 'md',
        buttonSize: 'md',
        okVariant: 'danger',
        okTitle: 'Yes',
        cancelTitle: 'No',
        hideHeaderClose: false,
        centered: true
      })
      .then(confirm => {
        if(confirm){
          this.$store.dispatch(`loansModule/${loansActionDef.CHANGE_STATUS}`, value)
              .then(response => {
                if (response) {
                  this.loading = false;
                  this.$store.dispatch(`usersModule/${usersActionsDef.ADD_BALANCE}`, {amount: value.amount, userId: value.user_id});
                  this.makeToast('success', 'Success', "Loan status is changed. Loan's owner balance has been increase");
                } else {
                  this.loading = false;
                  this.makeToast('danger', 'Failed', 'Something wrong, please try again later');
                }
              })
              .catch(() => {
                this.loading = false;
                this.makeToast('danger', 'Failed', 'Something wrong, please try again later');
              })
        } else {
            return
        }
      })
    },
    makeToast(variant = null, title, content) {
      this.$bvToast.toast(content, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        toaster: 'b-toaster-bottom-right',
        solid: true
      })
    },
  },
  filters:{
    parsePrice: formatPrice,
    yearSuffix: yearSuffix,
    parseDate: formatDate
  }
}
</script>

<style lang="scss" scoped>
.loans-list{
  &__title{
    text-align: center;
  }
  &__status{
    &:hover{
      cursor: pointer;
    }
  }
}
</style>