<template>
<div class="add-loans__wrapper">
  <b-card>
    <h1 class="add-loans__title">Personal Loan</h1>
    <div class="add-loans__form" v-if="Object.keys(loanOptions).length > 0">
      <div class="add-loans__errors" v-if="errors.length">
        <p v-for="error in errors" :key="error">{{ error }}</p>
      </div>
      <div class="add-loans__form-amount add-loans__form-field">
        <div class="add-loans__form-title">{{ loanOptions.amount.title }}</div>
        <b-form-select class="add-loans__form-input" v-model="formValue.amount">
          <option v-for="amount in loanOptions.amount.options" :key="amount" :value="amount">{{ amount | parsePrice }} VNĐ</option>
        </b-form-select>
      </div>
      <div class="add-loans__form-term add-loans__form-field">
        <div class="add-loans__form-title">{{ loanOptions.terms.title || ""}}</div>
        <b-form-select class="add-loans__form-input" v-model="formValue.terms">
          <option v-for="term in loanOptions.terms.options" :key="term" :value="term">{{ term | yearSuffix }}</option>
        </b-form-select>
      </div>
      <div class="add-loans__form-name add-loans__form-field">
        <div class="add-loans__form-title">{{ loanOptions.name.title }}</div>
        <b-form-input class="add-loans__form-input" v-model="formValue.name"></b-form-input>
      </div>
      <div class="add-loans__form-dob add-loans__form-field">
        <div class="add-loans__form-title">{{ loanOptions.dob.title }}</div>
        <b-form-input type="date" class="add-loans__form-input" v-model="formValue.dob"></b-form-input>
      </div>
    </div>
    <div class="add-loans__submit">
      <b-alert show variant="warning">
        <strong>Notice: </strong>
        <span>Our interest rate is <strong>{{interestRate}}%</strong></span>
      </b-alert>
      <b-alert show variant="info" v-if="formValue.amount && formValue.terms">
        <strong>Your payment at the end of terms</strong>
        <b-table :items="loanTotal">
          <template #cell(totalPayment)="data">
            <span>{{data.value | parsePrice}} VNĐ</span>
          </template>
          <template #cell(paymentPerWeek)="data">
            <span>{{data.value | parsePrice}} VNĐ</span>
          </template>
        </b-table>
      </b-alert>
      <b-button variant="success" :disabled="loading" @click="submit">{{ loading ? 'Submitting' : 'Submit'}}</b-button>
    </div>
  </b-card>
</div>
</template>

<script>
import loansModule from "@/store/loans";
import {loansActionDef} from "@/store/loans/loansActions";
import usersModule from "@/store/users";
import { formatPrice, yearSuffix } from "@/utils/filters";
import { INTEREST_RATE, ONE_WEEK } from "@/utils/constance";

export default {
  name: "AddLoans",
  created() {
    if (!this.$store.hasModule('loansModule')) {
      this.$store.registerModule('loansModule', loansModule);
    }
    if (!this.$store.hasModule('usersModule')) {
      this.$store.registerModule('usersModule', usersModule);
    }
    this.fetch();
  },
  computed: {
    loanOptions() {
      return this.$store.getters['loansModule/getListOptions'];
    },
    profile() {
      return this.$store.getters['usersModule/getUser'];
    },
  },
  watch:{
    formValue:{
      handler(value) {
        if (value.amount && value.terms){
          this.loanCounter();
        }
      },
      deep:true
    }
  },
  data(){
    return {
      errors: [],
      loading: false,
      interestRate : INTEREST_RATE,
      formValue: {
        amount: 0,
        terms: 0,
        name: "",
        dob: "",
        email: "",
      },
      tableFields: [
        {
          key: 'user_id',
          label: 'User'
        },
        'name',
        {
          key: 'dob',
          label: 'Date of birth'
        },
        'amount',
        'terms',
        {
          key: 'isApproved',
          label: 'Is Approved?'
        }
      ],
      loanTotal:[]
    }
  },
  methods: {
    fetch() {
      this.$store.dispatch(`loansModule/${loansActionDef.GET_LIST_OPTIONS}`);
    },
    validateForm(){
      this.errors = [];
      if (!this.formValue.amount) {
        this.errors.push("Amount required.");
      }
      if (!this.formValue.terms) {
        this.errors.push("Terms required.");
      }
      if (!this.formValue.name) {
        this.errors.push("Name required.");
      }
      if (!this.formValue.dob) {
        this.errors.push("Date of Birth required.");
      }
    },
    submit() {
      this.validateForm();
      if (this.errors.length === 0) {
        this.loading = true;
        const submitValue = {
          ...this.formValue,
          user_id: this.profile.id,
          status: 1,
          paid: 0,
          created_at: new Date()
        }
        this.$store.dispatch(`loansModule/${loansActionDef.STORE_LOANS}`, submitValue)
          .then(response => {
            if (response) {
              this.loading = false;
              this.makeToast('success', 'Success', 'Wait for admin to approve');
            } else {
              this.loading = false;
              this.makeToast('danger', 'Failed', 'Something wrong, please try again later');
            }
        })
        .catch(() => {
          this.loading = false;
          this.makeToast('danger', 'Failed', 'Something wrong, please try again later');
        })
      }
    },
    makeToast(variant = null, title, content) {
      this.$bvToast.toast(content, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        toaster: 'b-toaster-bottom-right',
        solid: true
      })
    },
    loanCounter(){
      let currentDate = new Date();
      let endOfTermDate = new Date(currentDate.getFullYear() + this.formValue.terms, currentDate.getMonth(), currentDate.getDate());
      let totalWeek = Math.round((endOfTermDate - currentDate) / ONE_WEEK);
      let totalPayment = this.formValue.amount + ((this.formValue.amount * this.interestRate) / 100)
      const tableData = [{
        totalWeek: totalWeek,
        totalPayment: totalPayment,
        paymentPerWeek: Math.round(totalPayment / totalWeek)
      }]
      this.loanTotal = tableData;
    }
  },
  filters:{
    parsePrice: formatPrice,
    yearSuffix: yearSuffix
  }
}
</script>

<style lang="scss" scoped>
.add-loans{
  &__wrapper{
    width: 50%;
    margin: auto;
  }
  &__title{
    text-transform: uppercase;
    text-align: center;
  }
  &__errors{
    color: red;
  }
  &__form{
    &-title{
      margin-bottom: 3px;
    }
    &-field{
      margin-bottom: 15px;
    }
  }

}
</style>