<template>
<div class="loan-details__wrapper">
  <h1 class="loan-details__title">Loans Details</h1>
  <modal-loan :data="selectedLoan" @success="onSuccess" @cancel="selectedLoan = ''" ref="modalLoan"/>
  <div class="loan-details__table" v-if="listLoans.length > 0">
    <b-table striped hover :fields="tableFields" :items="listLoans">
      <template #cell(user_id)="data">
        <span>{{ getUser(data.value) }}</span>
      </template>
      <template #cell(amount)="data">
        <span>{{data.value + ((data.value * interestRate) / 100) | parsePrice}} VNĐ</span>
      </template>
      <template #cell(paid)="data">
        <span>{{data.value | parsePrice}} VNĐ</span>
      </template>
      <template #cell(terms)="data">
        <span>{{data.value | yearSuffix}}</span>
      </template>
      <template #cell(status)="data">
        <b-badge variant="primary" v-if="data.value === 2">Approved</b-badge>
        <b-badge variant="success" v-else-if="data.value === 3">Finished</b-badge>
        <b-badge variant="info" v-else>Pending/Denied</b-badge>
      </template>
      <template #cell(created_at)="data">
        <span>{{data.value | parseDate}}</span>
      </template>
      <template #cell(actions)="row">
        <b-button size="sm" @click="showDetails(row.item)">
          Check payment
        </b-button>
      </template>
    </b-table>
  </div>
  <div class="loan-details__blank" v-else>
    You don't have any loan yet
  </div>
</div>
</template>

<script>
import loansModule from "@/store/loans";
import usersModule from "@/store/users";
import {loansActionDef} from "@/store/loans/loansActions";
import { usersActionsDef } from "@/store/users/usersActions";
import { formatPrice, yearSuffix, formatDate } from "@/utils/filters";
import AuthService from "@/services/AuthService";
import { INTEREST_RATE } from "@/utils/constance";
import ModalLoan from "./ModalLoan";

export default {
  name: "LoanDetails",
  components: {
    ModalLoan
  },
  created() {
    if (!this.$store.hasModule('loansModule')) {
      this.$store.registerModule('loansModule', loansModule);
    }
    if (!this.$store.hasModule('usersModule')) {
      this.$store.registerModule('usersModule', usersModule);
    }
    this.fetch();
  },
  data() {
    return {
      interestRate: INTEREST_RATE,
      tableFields: [
        {
          key: 'user_id',
          label: 'User'
        },
        'name',
        {
          key: 'dob',
          label: 'Date of birth'
        },
        'amount',
        'paid',
        'terms',
        {
          key: 'status',
          label: 'Status'
        },
        {
          key: 'created_at',
          label: 'Created Date'
        },
        {
          key: 'actions',
          label: 'Action'
        }
      ],
      selectedLoan: '',
    }
  },
  computed: {
    listLoans() {
      return this.$store.getters['loansModule/getListLoans'];
    },
    userList(){
      return this.$store.getters['usersModule/getListUsers'];
    },
    profile() {
      return this.$store.getters['usersModule/getUser'];
    },
    userLoading() {
      return this.$store.getters['usersModule/getLoading'];
    },
  },
  methods: {
    fetch() {
      this.$store.dispatch(`loansModule/${loansActionDef.GET_LIST_LOANS}`, { user_id: this.profile.id ? this.profile.id : AuthService.getToken() });
      this.$store.dispatch(`usersModule/${usersActionsDef.GET_LIST}`);
    },
    getUser(value){
      if (this.userList.length > 0) {
        let matchUser = this.userList.filter((user) => user.id === value);
        return matchUser[0].email;
      }
      return value
    },
    showDetails(value){
      this.selectedLoan = value;
      this.$refs.modalLoan.visible = true;
      return true;
    },
    onSuccess(){
      this.makeToast('success', 'Success', "You have paid for current payment successfully");
      this.fetch();
    },
    makeToast(variant = null, title, content) {
      this.$bvToast.toast(content, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        toaster: 'b-toaster-bottom-right',
        solid: true
      })
    },
  },
  filters:{
    parsePrice: formatPrice,
    yearSuffix: yearSuffix,
    parseDate: formatDate
  }
}
</script>

<style lang="scss" scoped>
.loan-details{
  &__title{
    text-align: center;
  }
  &__blank{
    text-align: center;
  }
  &__status{
    &:hover{
      cursor: pointer;
    }
  }
}
</style>