<template>
<b-modal :visible="visible" title="Loan Payment" @hide="handleCancel">
  <div class="loan-payment__field">
    <div class="loan-payment__field-title">Amount: </div>
    <div class="loan-payment__field-input">{{ interestInfo.totalPayment | parsePrice}} VNĐ</div>
  </div>
  <div class="loan-payment__field">
    <div class="loan-payment__field-title">You've paid: </div>
    <div class="loan-payment__field-input">{{ data.paid | parsePrice}} VNĐ</div>
  </div>
  <div class="loan-payment__field" v-if="data.status === 2">
    <div class="loan-payment__field-title">Remaining amount: </div>
    <div class="loan-payment__field-input">{{ interestInfo.totalPayment - data.paid | parsePrice}} VNĐ</div>
  </div>
  <div class="loan-payment__field" v-if="data.status === 2">
    <div class="loan-payment__field-title">Next payment due: </div>
    <div class="loan-payment__field-input" v-if="data.next_due">{{ data.next_due | parseDate}}</div>
    <div class="loan-payment__field-input" v-else>{{ data.created_at | parseDueDate }}</div>
  </div>
  <div class="loan-payment__field" v-if="data.status === 2">
    <div class="loan-payment__field-title">Next payment fee: </div>
    <div class="loan-payment__field-input">{{ interestInfo.paymentPerWeek | parsePrice}} VNĐ</div>
  </div>
  <template #modal-footer>
    <b-button type="button" size="sm" variant="success" @click="handlePay()" :disabled="loading || data.status !== 2" v-if="data.status === 2">
      {{ loading ? 'Paying' : 'Pay for next due'}}
    </b-button>
    <b-button type="button" size="sm" variant="danger" @click="handleCancel()">
      Cancel
    </b-button>
  </template>
</b-modal>
</template>

<script>
import loansModule from "@/store/loans";
import usersModule from "@/store/users";
import {loansActionDef} from "@/store/loans/loansActions";
import { usersActionsDef } from "@/store/users/usersActions";
import { formatPrice, yearSuffix, formatDate, formatDueDate } from "@/utils/filters";
import { INTEREST_RATE, ONE_WEEK } from "@/utils/constance";

export default {
  name: "ModalLoan",
  props: {
    data: {
      required: true,
    }
  },
  watch: {
    data(val) {
      if(val) {
        this.loanCounter();
      }
    }
  },
  created() {
    if (!this.$store.hasModule('loansModule')) {
      this.$store.registerModule('loansModule', loansModule);
    }
    if (!this.$store.hasModule('usersModule')) {
      this.$store.registerModule('usersModule', usersModule);
    }
  },
  computed: {
    profile() {
      return this.$store.getters['usersModule/getUser'];
    },
  },
  data() {
    return {
      visible: false,
      interestRate : INTEREST_RATE,
      interestInfo: {},
      loading: false
    }
  },
  methods: {
    addDays(date, days) {
      let result = new Date(date);
      result.setDate(result.getDate() + days);
      return result;
    },
    handleCancel() {
      this.visible = false;
      this.$emit('cancel', true);
    },
    handlePay() {
      this.loading = true;
      const submitValue = {
        ...this.data,
        paid: this.data.paid + this.interestInfo.paymentPerWeek,
        next_due: this.addDays(this.data.next_due ? this.data.next_due : this.data.created_at, 7)
      }
      if (this.profile.balance < this.interestInfo.paymentPerWeek){
        this.makeToast('danger', 'Failed', 'Your account balance does not have enough to pay this payment due');
        this.loading = false;
      } else {
        this.$store.dispatch(`loansModule/${loansActionDef.PAY}`, submitValue)
            .then(response => {
              if (response) {
                this.loading = false;
                this.$store.dispatch(`usersModule/${usersActionsDef.MINUS_BALANCE}`, this.interestInfo.paymentPerWeek);
                this.visible = false;
                this.$emit('success', true);
              } else {
                this.loading = false;
                this.makeToast('danger', 'Failed', 'Something wrong, please try again later');
              }
            })
            .catch(() => {
              this.loading = false;
              this.makeToast('danger', 'Failed', 'Something wrong, please try again later');
            })
      }
    },
    loanCounter(){
      let createDate = new Date(this.data.created_at);
      let endOfTermDate = new Date(createDate.getFullYear() + this.data.terms, createDate.getMonth(), createDate.getDate());
      let totalWeek = Math.round((endOfTermDate - createDate) / ONE_WEEK);
      let totalPayment = this.data.amount + ((this.data.amount * this.interestRate) / 100);
      this.interestInfo = {
        totalWeek: totalWeek,
        totalPayment: totalPayment,
        paymentPerWeek: Math.round(totalPayment / totalWeek)
      }
      if(this.interestInfo.paymentPerWeek > (totalPayment - this.data.paid)){
        this.interestInfo = {
          totalWeek: totalWeek,
          totalPayment: totalPayment,
          paymentPerWeek: totalPayment - this.data.paid
        }
      }
    },
    makeToast(variant = null, title, content) {
      this.$bvToast.toast(content, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        toaster: 'b-toaster-bottom-right',
        solid: true
      })
    },
  },
  filters:{
    parsePrice: formatPrice,
    yearSuffix: yearSuffix,
    parseDate: formatDate,
    parseDueDate: formatDueDate
  }
}
</script>

<style lang="scss" scoped>
.loan-payment{
  &__field{
    margin-bottom: 8px;
    &-title{
      margin-bottom: 3px;
    }
    &-input{
      padding: 5px 10px;
      border: 1px solid #dee2e6;
      border-radius: 4px;
    }
  }
}
</style>