<template>
<div class="collapse__wrapper">
  <div class="collapse__header" @click="handleToggle">
    <div class="collapse__header-meta">
      <div class="collapse__header-logo">
        <img :src="icon" alt="icon"/>
      </div>
      <div class="collapse__header-title">{{ title }}</div>
    </div>
    <div class="collapse__header-toggle">
      <img :src="toggleIcon" alt="icon" :class="{'collapse__header-toggle-active' : collapsed}"/>
    </div>
  </div>
  <div class="collapse__content" v-show="collapsed">
    <slot></slot>
  </div>
  <div class="collapse__footer" v-show="collapsed" v-if="footer">
    <router-link tag="span" :to="footer.to">{{ footer.title }}</router-link>
  </div>
</div>
</template>

<script>
import ToggleIcon from '@/assets/images/icons/toggle.svg';

export default {
  name: "Collapse",
  props: {
    icon: {
      required: true,
    },
    title: {
      required: true,
    },
    footer: {
      required: false
    }
  },
  data() {
    return {
      toggleIcon: ToggleIcon,
      collapsed: false,
    }
  },
  methods: {
    handleToggle(){
      this.collapsed = !this.collapsed;
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~VariableSass';
@import '~MixinSass';
.collapse{
  &__wrapper{
    border: 1px solid #F0F0F0;
    border-radius: 8px;
    margin-bottom: $space-s;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $space-s;
    background: $color-s-white;
    border-radius: 8px;
    box-shadow: 0 0 8px 3px #0000000A;
    &:hover{
      cursor: pointer;
    }
    &-meta{
      display: flex;
      align-items: center;
    }
    &-title{
      font-size: 14px;
      color: #0C365A;
      font-weight: 600;
    }
    &-logo{
      margin-right: $space-xs;
    }
    &-toggle{
      &-active{
        transform: rotate(180deg);
      }
    }
  }
  &__content{
    padding: $space-s;
    border: 1px solid #F0F0F0;
    border-radius: 8px;
    background: $color-p-white;
    color: #0C365A;
  }
  &__footer{
    background: #EDFFF5;
    padding: $space-s;
    text-align: center;
    color: $color-p-green;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #DDFFEC;
    border-radius: 0 0 8px 8px;
    &:hover{
      cursor: pointer;
    }
  }
}
</style>