<template>
  <div>
    <div class="sidebar__logo-wrapper mobile">
      <img :src="aspireLogoMobile" class="sidebar__logo-mobile" alt="aspire logo"/>
    </div>
    <div class="sidebar__wrapper">
      <div class="sidebar__logo-wrapper desktop">
        <img :src="aspireLogo" class="sidebar__logo" alt="aspire logo"/>
      </div>
      <div class="sidebar__description desktop">
        Trusted way of banking for 3,000+ SMEs and startups in Singapore
      </div>
      <div class="sidebar__navigation-wrapper">
        <div class="sidebar-navigation" v-for="(nav, key) in navigate" :key="key">
          <img class="sidebar-navigation__logo" :src=" isMobile() ? nav.logoMobile : nav.logo" :alt="nav.title"/>
          <router-link :to="nav.link" tag="a" class="sidebar-navigation__title">{{ nav.title }}</router-link>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import AspireLogo from '@/assets/images/icons/aspire-logo.png'
import HomeLogo from '@/assets/images/icons/home.svg'
import CardLogo from '@/assets/images/icons/card.svg'
import PaymentLogo from '@/assets/images/icons/payments.svg'
import CreditLogo from '@/assets/images/icons/credit.svg'
import SettingLogo from '@/assets/images/icons/account.svg'
import MobileHomeLogo from '@/assets/images/icons/home-gray.svg'
import MobilePaymentLogo from '@/assets/images/icons/payments-gray.svg'
import MobileCreditLogo from '@/assets/images/icons/credit-gray.svg'
import MobileSettingLogo from '@/assets/images/icons/account-gray.svg'
import MobileAspireLogo from '@/assets/images/icons/aspire-logo-mobile.svg'

export default {
  name: "SideBar",
  data() {
    return{
      aspireLogo: AspireLogo,
      aspireLogoMobile: MobileAspireLogo,
      navigate: [
        {
          logo: HomeLogo,
          logoMobile: MobileHomeLogo,
          title: 'Home',
          link: '/home'
        },
        {
          logo: CardLogo,
          logoMobile: CardLogo,
          title: 'Cards',
          link: '/'
        },
        {
          logo: PaymentLogo,
          logoMobile: MobilePaymentLogo,
          title: 'Payments',
          link: '/payments'
        },
        {
          logo: CreditLogo,
          logoMobile: MobileCreditLogo,
          title: 'Credit',
          link: '/credit'
        },
        {
          logo: SettingLogo,
          logoMobile: MobileSettingLogo,
          title: 'Settings',
          link: '/settings'
        },
      ]
    }
  },
  methods:{
    isMobile() {
      if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        return true
      } else {
        return false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~VariableSass';
@import '~MixinSass';
.sidebar{
  &__wrapper{
    display: flex;
    padding: $space-s $space-l;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: $color-p-white;
    width: 100%;
    box-shadow: 0 -3px 5px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
    @include desktop{
      padding: $space-m;
      width: 340px;
      background-color: $color-p-blue;
      color: $color-p-white;
      height: 100%;
      overflow: auto;
      box-shadow: none;
      flex-flow: column;
    }
  }
  &__logo{
    width: 125px;
    margin-bottom: $space-s;
    &-mobile{
      position: absolute;
      right: 5px;
      top: 3px;
    }
  }
  &__description{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: $space-m;
  }
  &__navigation-wrapper{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    @include desktop{
      display: block;
      text-align: left;
    }
  }
  &-navigation{
    display: flex;
    flex-flow: column;
    align-items: center;
    @include desktop {
      display: block;
      padding: $space-m 0;
    }
    &__logo{
      width: 24px;
      height: 24px;
      margin-bottom: $space-xxs;
      @include desktop{
        margin-right: $space-s;
        margin-bottom: 0;
      }
    }
    &__title{
      font-size: 9px;
      color: #DDDDDD;
      @include desktop{
        font-size: 16px;
        color: $color-p-white;
        &:hover{
          text-decoration: none;
          color: $color-p-green;
        }
      }

    }
  }
}
.router-link-active{
  color: $color-p-green;
}
</style>