<template>
  <div class="slides__wrapper">
    <div class="slides__slide">
      <transition-group
          name="slide"
          mode="out-in"
          enter-class="slide-in"
          leave-class="slide-out"
          enter-active-class="animated slide-in-active"
          leave-active-class="animated slide-out-active"
      >
        <slot></slot>
      </transition-group>
    </div>
    <ul class="slides__dots">
      <li
          v-for="(dot, index) in slides"
          :class="{ active: ++index === active }"
          @click="jump(index)"
          :key="index"
      ></li>
    </ul>
  </div>

</template>

<script>
export default {
  name: "Slider",
  props: {
    slides: {
      required: false,
    }
  },
  data(){
    return {
      active: 1
    }
  },
  methods: {
    jump(index) {
      this.active = index;
      this.$emit('change', index);
    }
  }
}
</script>

<style lang="scss">
@import '~VariableSass';
@import '~MixinSass';
.slides{
  &__wrapper{
    .animated {
      transition: all 300ms;
    }
    .slide-in-active {
      transition-delay: 200ms;
      display: none;
    }
    .slide-out-active {
      transition-delay: 200ms;
      opacity: 0;
    }
  }

  &__slide{

  }
  &__dots{
    display: block;
    width: 100%;
    text-align: center;
    bottom: 20px;

    li {
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background: $color-p-green;
      opacity: 0.2;
      display: inline-block;
      margin: 0 3px;
      cursor: pointer;
      transition: opacity 0.4s ease-in-out,width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &.active {
        width: 16px;
        opacity: 1;
      }
    }
  }
}



</style>