<template>
<div class="cards-view__wrapper">
  <div class="cards-view__header">
    <div class="cards-view__header-title">
      Available balance
    </div>
    <div class="cards-view__header-content">
      <div class="cards-header__balance">
        <div class="cards-header__balance-logo">
          S$
        </div>
        <div class="cards-header__balance-text">
          3,000
        </div>
      </div>
      <div class="cards-header__add-card">
        <div class="cards-header__add-card-btn">
          <img :src="isMobile() ? plusIconMobile : plusIcon" alt="plus icon"/>New card
        </div>
      </div>
    </div>
  </div>
  <div class="cards-view__tabs">
    <div class="cards-tabs__context" @click.prevent="setActive(0)" :class="{ 'cards-tabs__context-active': isActive(0) }">
      My debit cards
    </div>
    <div class="cards-tabs__context" @click.prevent="setActive(1)" :class="{ 'cards-tabs__context-active': isActive(1) }">
      All company cards
    </div>
  </div>
  <div class="cards-view__content">
    <div v-if="isActive(0)" class="cards-view__content-wrapper">
      <div class="cards-content__general">
        <div class="cards-content__show-number desktop" @click="showNumber = !showNumber">
          <img :src="eyeIcon" alt="plus icon"/>{{showNumber ? 'Hide card number' : 'Show card number'}}
        </div>
        <Slider :slides="cards" @change="handleSlide">
          <!-- Disable eslint For transtition purpose-->
          <!-- eslint-disable vue/no-use-v-if-with-v-for -->
          <div v-for="(card,index) in cards" :key="index" v-if="++index === slideIndex">
            <div class="cards-content__card">
              <div class="cards-content__card-logo-wrapper">
                <img class="cards-content__card-logo" :src="aspireLogo" alt="logo"/>
              </div>
              <div class="cards-content__card-name">
                {{card.name}}
              </div>
              <div class="cards-content__card-number" v-html="formatCardNumber(card.number)">
              </div>
              <div class="cards-content__card-info">
                <div class="cards-content__card-info-valid">
                  Thru: {{card.valid}}
                </div>
                <div class="cards-content__card-info-cvv">
                  CVV: 	<span class="mask">	&#160; &#42;	&#42;	&#42;</span>
                </div>
              </div>
              <div class="cards-content__card-visa">
                <img class="cards-content__card-logo" :src="visaLogo" alt="visa logo"/>
              </div>
            </div>
          </div>
        </Slider>
        <div class="cards-content__actions">
          <div class="cards-content__action-wrapper" v-for="(action, index) in actions" :key="index">
            <div class="cards-content__action-logo">
              <img :src="action.icon" alt="freeze icon"/>
            </div>
            <div class="cards-content__action-title">
              {{ action.title }}
            </div>
          </div>
        </div>
      </div>
      <div class="cards-content__details">
        <Collapse title="Card details" :icon="detailsIcon">
          <div>Card details here</div>
        </Collapse>
        <Collapse title="Recent transactions" :icon="transactionIcon" :footer="{ title: 'View all card transactions', to: '/all-transactions'}">
          <div class="cards-content__transaction-wrapper" v-for="(transaction, index) in transactions" :key="index">
            <div class="cards-content__transaction-icon">
              <img :src="transaction.icon" alt="icon"/>
            </div>
            <div class="cards-content__transaction-context">
              <div class="cards-content__transaction-title">
                {{ transaction.title }}
              </div>
              <div class="cards-content__transaction-date">
                {{ transaction.date }}
              </div>
              <div class="cards-content__transaction-description">
                <div class="cards-content__transaction-description-icon">
                  <img :src="debitIcon" alt="icon"/>
                </div>
                 {{ transaction.description }}
              </div>
            </div>
            <div class="cards-content__transaction-amount">
              <div class="cards-content__transaction-amount-text" :class="{'cards-content__transaction-amount-green' : !transaction.isDown}">
                {{ transaction.isDown ? '-' : '+'}} S$ {{ transaction.amount }}
              </div>
              <div class="cards-content__transaction-amount-arrow">
                <img :src="nextIcon" alt="icon"/>
              </div>
            </div>
          </div>
        </Collapse>
      </div>
    </div>
    <div v-else class="cards-view__content-wrapper">
      test 2
    </div>
  </div>
</div>
</template>

<script>
import Slider from "@/components/css-challenge/Slider";
import Collapse from "@/components/css-challenge/Collapse";
import PlusIcon from '@/assets/images/icons/plus.svg';
import PlusBlueIcon from '@/assets/images/icons/plus-blue.svg';
import EyeIcon from '@/assets/images/icons/eye.svg';
import AspireLogo from '@/assets/images/icons/aspire-logo-white.svg';
import VisaLogo from '@/assets/images/icons/visa-logo.svg'
import FreezeIcon from '@/assets/images/icons/freeze.svg'
import LimitIcon from '@/assets/images/icons/limit.svg'
import GpayIcon from '@/assets/images/icons/google-pay.svg'
import ReplaceIcon from '@/assets/images/icons/replace.svg'
import CancelIcon from '@/assets/images/icons/deactive.svg'
import DetailsIcon from '@/assets/images/icons/details.svg'
import TransactionsIcon from '@/assets/images/icons/transactions.svg'
import FilesIcon from '@/assets/images/icons/file-storage.svg'
import PlaneIcon from '@/assets/images/icons/flights.svg'
import AlertsIcon from '@/assets/images/icons/megaphone.svg'
import DebitIcon from '@/assets/images/icons/business-and-finance.svg'
import NextIcon from '@/assets/images/icons/next.svg'

export default {
  name: "Cards",
  components: {
    Slider,
    Collapse
  },
  data() {
    return{
      plusIcon: PlusIcon,
      plusIconMobile: PlusBlueIcon,
      eyeIcon: EyeIcon,
      aspireLogo: AspireLogo,
      visaLogo: VisaLogo,
      cancelIcon: CancelIcon,
      detailsIcon: DetailsIcon,
      transactionIcon: TransactionsIcon,
      debitIcon: DebitIcon,
      nextIcon: NextIcon,
      activeTab: 0,
      showNumber: false,
      slideIndex: 1,
      actions: [
        {
          title:'Freeze card',
          icon: FreezeIcon,
        },
        {
          title:'Set spend limit',
          icon: LimitIcon,
        },
        {
          title:'Add to GPay',
          icon: GpayIcon,
        },
        {
          title:'Replace card',
          icon: ReplaceIcon,
        },
        {
          title:'Cancel card',
          icon: CancelIcon,
        },
      ],
      cards: [
        {
          name: 'Mark Henry',
          number: 1234567886789990,
          valid: '12/20',
          cvv: '123',
        },
        {
          name: 'Mark Henry 1',
          number: 1234567886789991,
          valid: '12/20',
          cvv: '123',
        },
        {
          name: 'Mark Henry 2',
          number: 1234567886789992,
          valid: '12/20',
          cvv: '123',
        },
      ],
      transactions: [
        {
          icon: FilesIcon,
          title: 'Hamleys',
          date: '20 May 2020',
          amount: 150,
          description: 'Refund on debit card',
          isDown: false,
        },
        {
          icon: PlaneIcon,
          title: 'Hamleys',
          date: '20 May 2020',
          amount: 150,
          description: 'Charged to debit card',
          isDown: true,
        },
        {
          icon: AlertsIcon,
          title: 'Hamleys',
          date: '20 May 2020',
          amount: 150,
          description: 'Charged to debit card',
          isDown: true,
        },
        {
          icon: FilesIcon,
          title: 'Hamleys',
          date: '20 May 2020',
          amount: 150,
          description: 'Charged to debit card',
          isDown: true,
        },
      ]
    }
  },
  methods: {
    isActive (menuItem) {
      return this.activeTab === menuItem
    },
    formatCardNumber(value){
      if(this.showNumber) return value.toString().match(/.{1,4}/g).join('\u00A0');
      else return '<span style="font-size: 20px">\u2022 \u2022 \u2022 \u2022 \u00A0  \u2022 \u2022 \u2022 \u2022 \u00A0  \u2022 \u2022 \u2022 \u2022 \u00A0</span>' + value.toString().substr(-4);
    },
    setActive (menuItem) {
      this.activeTab = menuItem
    },
    handleSlide(value){
      this.slideIndex = value;
    },
    isMobile() {
      if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        return true
      } else {
        return false
      }
    }
  },
  filters: {
    dotTransform(value){
      if (!value) return null;
      return '\u2022 \u2022 \u2022 \u2022 \u00A0  \u2022 \u2022 \u2022 \u2022 \u00A0  \u2022 \u2022 \u2022 \u2022 \u00A0' + value.toString().substr(-4);
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~VariableSass';
@import '~MixinSass';
.cards{
  &-view{
    &__wrapper{
      color: $color-p-white;
      background: $color-p-blue;
      padding: $space-m;
      padding-top: $space-l;
      @include desktop{
        background: $color-p-white;
        color: $color-p-blue;
        padding: $space-m;
        padding-top: $space-m;
      }
    }
    &__header{
      margin-bottom: $space-m;
      &-title{
        font-size: 14px;
        margin-bottom: $space-s;
      }
      &-content{
        display: flex;
        justify-content: space-between;
      }
    }
    &__tabs{
      display: flex;
      margin-bottom: $space-m;
    }
    &__content{
      padding: $space-m;
      @include desktop{
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
      }

      &-wrapper{
        display: flex;
        flex-flow: column;
        @include desktop{
          flex-flow: row;
        }
      }
    }
  }
  &-header{
    &__balance{
      display: flex;
      align-items: center;
      &-logo{
        padding: 5px 15px;
        background: $color-p-green;
        color: white;
        font-weight: bold;
        font-size: 13px;
        border-radius: 4px;
        margin-right: $space-xs;
      }
      &-text{
        font-weight: bold;
        font-size: 26px;
      }
    }
    &__add-card{
      &-btn{
        color: #23CEFD;
        padding: 10px 15px;
        font-size: 13px;
        font-weight: bold;
        @include desktop{
          background: $color-s-blue;
          color: white;
          border-radius: 4px;
        }
        &:hover{
          cursor: pointer;
        }
        >img{
          margin-right: $space-xxs;
        }
      }
    }
  }
  &-tabs{
    &__context{
      color: rgba(255, 255, 255, 0.5);
      @include desktop{
        color: rgba(34, 34, 34, 0.3);
      }
      font-size: 14px;
      margin-right: $space-m;
      position: relative;
      &:after{
        display: none;
        position: absolute;
        content: '';
        height: 2px;
        bottom: -4px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100%;
        background: $color-p-light-blue;
      }
      &:hover{
        cursor: pointer;
        &:after{
          display: block;
        }
      }
      &-active{
        font-weight: 600;
        color: $color-p-white;
        @include desktop{
          color: $color-p-black;
        }
        &:after{
          display: block;
          position: absolute;
          content: '';
          height: 2px;
          bottom: -4px;
          margin: 0 auto;
          left: 0;
          right: 0;
          width: 100%;
          background: $color-p-light-blue;
        }
      }
    }
  }
  &-content{
    &__general{
      @include desktop{
        width: 50%;
        padding-right: $space-m;
      }
    }
    &__details{
      width: 100vw;
      margin-left: 50%;
      transform: translateX(-50%);
      background: $color-p-white;
      padding: $space-m;
      margin-bottom: $space-m;
      @include desktop{
        width: 50%;
        padding: 0;
        padding-left: $space-m;
        margin-left: 0;
        transform: translateX(0);
        margin-bottom: 0;
      }
    }
    &__show-number{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: $color-p-green;
      font-weight: bold;
      font-size: 12px;
      margin-bottom: $space-s;
      &:hover{
        cursor: pointer;
      }
      > img {
        margin-right: $space-xxs;
      }
    }
    &__card{
      padding: $space-m;
      border-radius: 8px;
      background-color: $color-p-green;
      color: $color-p-white;
      font-weight: bold;
      &-logo-wrapper{
        text-align: end;
        margin-bottom: $space-m;
      }
      &-name{
        font-size: 24px;
        margin-bottom: $space-m;
      }
      &-number{
        margin-bottom: $space-s;
        font-size: 14px;
        display: flex;
        align-items: center;
        height: 30px;
      }
      &-info{
        display: flex;
        &-valid{
          font-size: 13px;
          margin-right: $space-m;
        }
        &-cvv{
          display: flex;
          font-size: 13px;
        }
      }
      &-visa{
        text-align: end;
      }
    }
    &__actions{
      width: 100vw;
      margin-left: 50%;
      transform: translateX(-50%);
      border-radius: 8px 8px 0 0;
      color: #0C365A;
      @include desktop{
        border-radius: 8px;
        width: 100%;
        margin-left: 0;
        transform: translateX(0);
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $color-s-light-blue;
      padding: $space-m;
    }
    &__action{
      &-wrapper{
        text-align: center;
        &:hover{
          cursor: pointer;
        }
      }
      &-logo{
        margin-bottom: $space-xxs;
      }
      &-title{
        font-size: 13px;
      }
    }
    &__transaction{
      &-wrapper{
        display: flex;
        margin-top: $space-s;
        padding-bottom: $space-s;
        border-bottom: 1px solid #F0F0F0;
        &:last-child{
          border-bottom: none;
        }
      }
      &-icon{
        width: 48px;
        height: 48px;
        background: #009DFF1A;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: $space-xs;
      }
      &-title{
        color: #222222;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: $space-xxs;
      }
      &-date{
        font-size: 13px;
        color: #AAAAAA;
        margin-bottom: $space-xxs;
      }
      &-description{
        display: flex;
        color: #325BAF;
        font-size: 12px;
        align-items: center;
        font-weight: 600;
        &-icon{
          width: 24px;
          height: 24px;
          background: #325BAF;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          margin-right: $space-xs;
        }
      }
      &-amount{
        display: flex;
        align-items: baseline;
        flex: 1;
        justify-content: flex-end;
        &:hover{
          cursor: pointer;
        }
        &-text{
          font-weight: bold;
          font-size: 14px;
          display: flex;
          align-items: center;
          margin-right: $space-xs;
          color: $color-p-black;
        }
        &-green{
          color: $color-p-green;
        }

      }
    }
  }
}
.mask{
  font-size: 16px;
}
</style>