<template>
  <div>
    <b-navbar class="header__wrapper" type="dark"  v-if="!userLoading && Object.keys(profile).length > 0">
      <b-navbar-nav>
        <b-nav-item>
          <router-link tag="span" to="/">Home</router-link>
        </b-nav-item>
        <b-nav-item v-if="profile.role !== 1">
          <span>|</span>
        </b-nav-item>
        <b-nav-item v-if="profile.role !== 1">
          <router-link tag="span" to="/loan">Get your loan</router-link>
        </b-nav-item>
        <b-nav-item>
          <span>|</span>
        </b-nav-item>
        <b-nav-item>
          <router-link tag="span" to="/aspire">CSS Challenge</router-link>
        </b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav v-if="profile.role !== 1">
        <b-nav-item>
          <span>Your balance: {{ profile.balance | parsePrice}} VNĐ</span>
        </b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav>
        <b-nav-item-dropdown :text="profile.email">
          <b-dropdown-item v-if="profile.role === 1">
            <router-link tag="span" to="/loans-list">Loans List</router-link>
          </b-dropdown-item>
          <b-dropdown-item v-else>
            <router-link tag="span" to="/loan-details">Your loan</router-link>
          </b-dropdown-item>
          <b-dropdown-item @click="logout">Logout</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>

<script>
import usersModule from "@/store/users";
import {usersActionsDef} from "@/store/users/usersActions";
import { formatPrice } from "@/utils/filters";

export default {
  name: "Header",
  created() {
    if (!this.$store.hasModule('usersModule')) {
      this.$store.registerModule('usersModule', usersModule);
    }
  },
  computed: {
    userLoading() {
      return this.$store.state.usersModule.loading;
    },
    profile() {
      return this.$store.state.usersModule.user;
    },
  },
  methods: {
    logout() {
      this.$store.dispatch(`usersModule/${usersActionsDef.LOGOUT}`);
    }
  },
  filters:{
    parsePrice: formatPrice
  }
}
</script>

<style lang="scss" scoped>
.header{
  &__wrapper{
    padding:10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c365a;
  }
}
.nav-link{
  color: white;
  span{
    color: white;
  }
}
</style>