@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,900&display=swap");
@import "src/assets/styles/variable.scss";
@import "src/assets/styles/mixin.scss";
@import "src/assets/styles/spacing.scss";

:root {
  --display-style: block;
}

// reset, default
html,
body {
  margin: 0;
  color: $color-p-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;

  @include tablet {
    font-size: 15px;
  }

  @include desktop {
    font-size: 17px;
  }

  @include desktop-l {
    font-size: 18px;
  }

  @include desktop-4k {
    font-size: 23px;
  }

  // special laptop
  @include laptop {
    font-size: 16px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
  color: unset;
}

// custom
.mobile {
  display: var(--display-style);
  @include tablet {
    display: none !important;
  }
}

.mobile-inv {
  display: none !important;
  @include tablet {
    display: var(--display-style) !important;
  }
}

.tablet {
  display: var(--display-style);
  @include desktop {
    display: none !important ;
  }
}

.tablet-inv {
  display: none !important;
  @include desktop {
    display: var(--display-style) !important;
  }
}

.tablet-xl {
  display: none !important;
  @include tablet-xl {
    display: var(--display-style) !important;
  }
}

.desktop {
  display: none !important;
  @include desktop {
    display: var(--display-style) !important;
  }
}

.desktop-inv {
  display: var(--display-style) !important;
  @include desktop {
    display: none !important;
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.shadow-none {
  box-shadow: none !important;
}

.user-select-none {
  user-select: none !important;
}

.opa-0 {
  opacity: 0 !important;
  pointer-events: none;
}

.opa-1 {
  opacity: 1 !important;
}

.visibility-hidden {
  visibility: hidden;
}

.pb-s {
  padding-bottom: $space-s;
}

.pb-m {
  padding-bottom: $space-m;
}

.pb-l {
  padding-bottom: $space-l;
}

.pt-s {
  padding-top: $space-s;
}

.pt-m {
  padding-top: $space-m;
}

.pt-l {
  padding-top: $space-l;
}

.pr-s {
  padding-right: $space-s;
}

.pr-m {
  padding-right: $space-m;
}

.pr-l {
  padding-right: $space-l;
}

.pl-s {
  padding-left: $space-s;
}

.pl-m {
  padding-left: $space-m;
}

.pl-l {
  padding-left: $space-l;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-s {
  margin-bottom: $space-s;
}

.mb-m {
  margin-bottom: $space-m;
}

.mb-l {
  margin-bottom: $space-l;
}

.mt-s {
  margin-top: $space-s;
}

.mt-m {
  margin-top: $space-m;
}

.mt-l {
  margin-top: $space-l;
}

.mr-s {
  margin-right: $space-s;
}

.mr-m {
  margin-right: $space-m;
}

.mr-l {
  margin-right: $space-l !important;
}

.mr-xl {
  margin-right: $space-xl !important;
}

.ml-s {
  margin-left: $space-s;
}

.ml-m {
  margin-left: $space-m;
}

.ml-l {
  margin-left: $space-l;
}
