@mixin mobile {
  @media (max-width: 619px) {
    @content;
  }
}

@mixin mobile-l {
  @media (min-width: 400px) {
    @content;
  }
}

@mixin mobile-xl {
  @media (min-width: 568px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 620px) {
    @content;
  }
}

@mixin tablet-m {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet-l {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin tablet-xl {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin laptop-s {
  @media (min-width: 1024px) and (max-height: 680px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 1200px) and (max-height: 780px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin desktop-l {
  @media (min-width: 1500px) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: 1900px) {
    @content;
  }
}

@mixin desktop-2k {
  @media (min-width: 2348px) {
    @content;
  }
}

@mixin desktop-4k {
  @media (min-width: 3500px) {
    @content;
  }
}

@mixin desktop-8k {
  @media (min-width: 7380px) {
    @content;
  }
}

@mixin titleBig {
  font-weight: 700;
  line-height: 0.9;
  font-size: 2.308rem;
  padding-bottom: $space-s;

  @include tablet {
    font-size: 2.667rem;
  }

  @include desktop {
    font-size: 2.5rem;
  }
  @include desktop-4k {
    font-size: 2.35rem;
  }
}

@mixin title {
  font-weight: 700;
  font-size: 1.93rem;
  padding-bottom: $space-s;
  @include tablet {
    font-size: 2.333rem;
  }
  @include desktop {
    font-size: 2.222rem;
  }
  @include desktop-4k {
    font-size: 2.087rem;
  }
}

@mixin description {
  font-size: 1rem;
}
