// scss variable goes here
$color-p-blue: #0C365A;
$color-p-black: #222222;
$color-p-white: #ffffff;
$color-p-green: #01D167;
$color-s-blue: #325BAF;
$color-p-light-blue: #23CEFD;
$color-s-light-blue: #EDF3FF;
$color-s-white: #F5F9FF;
// spacing
$space-c-x: var(--space-c-x);
$space-c-t: var(--space-c-t);
$space-c-b: var(--space-c-b);

$space-xxs: var(--space-xxs);
$space-xs: var(--space-xs);
$space-s: var(--space-s);
$space-m: var(--space-m);
$space-l: var(--space-l);
$space-xl: var(--space-xl);
$space-xxl: var(--space-xxl);

