<template>
<div class="code-layout__wrapper">
  <Header/>
  <div class="app__view">
    <router-view/>
  </div>
</div>
</template>

<script>
import usersModule from "@/store/users";
import { usersActionsDef } from "@/store/users/usersActions";
import Header from "@/components/code-challenge/Header";

export default {
  name: "CodeChallenge",
  components: {
    Header
  },
  created() {
    if (!this.$store.hasModule('usersModule')) {
      this.$store.registerModule('usersModule', usersModule);
    }
    this.$store.dispatch(`usersModule/${usersActionsDef.FETCH}`);
  },
}
</script>

<style lang="scss" scoped>
.app__view{
  margin-top: 45px;
  padding: 0 10%;
}
</style>