<template>
<div class="css-layout__wrapper">
  <SideBar/>
  <div class="css-layout__view">
    <router-view/>
  </div>

</div>
</template>

<script>
import SideBar from "@/components/css-challenge/SideBar";
export default {
  name: "CssChallenge",
  components: {
    SideBar
  }
}
</script>

<style lang="scss">
@import '~GlobalSass';
</style>

<style scoped lang="scss">
@import '~VariableSass';
@import '~MixinSass';
.css-layout{
  &__view{
    @include desktop{
      padding: $space-m;
      min-height: 100vh;
      margin-left: 340px;
    }
  }
}
</style>